{
  "rules": {
    "indent": [2, 2, {"VariableDeclarator": 1, "SwitchCase": 1}],
    "quotes": [2, "single"],
    "linebreak-style": [2, "unix"],
    "semi": [2, "always"],
    "no-mixed-requires": [0, true],
    "comma-dangle": [2, "never"],
    "no-mixed-spaces-and-tabs": [2, "smart-tabs"]
  },
  "env": {
    "es6": true,
    "node": true
  },
  "globals": {
    "before": true,
    "after": true,
    "describe": true,
    "it": true,
    "async": true,
    "ObjectID": true,
    "sails": true,
    "_": true,
    "module": true,

    // services
    "Utils": true,
    "Constant": true,
    "SMS": true,
    "Plan": true,
    "Schedule": true,
    "EaseMob": true,
    "Cache": true,
    "Qiniu": true,
    "GlobalData": true,

    "GroundV1": true,
    "GroupV1": true,
    "InfoV1": true,
    "PostV1": true,
    "SportsOrderV1": true,
    "UserV1": true,
    "VenueV1": true,
    "TagV1": true,
    "CoachV1": true,
    "CoachOrderV1": true,
    "OrderTaskV1": true,
    "CustomLocationV1": true,
    "WebService": true,

    // models
    "AccessToken": true,
    "AuthCode": true,
    "City": true,
    "Client": true,
    "Event": true,
    "Ground": true,
    "GroundCharge": true,
    "GroundPlan": true,
    "Picture": true,
    "RefreshToken": true,
    "SmsRecord": true,
    "SportsOrder": true,
    "OrderStatus": true,
    "System": true,
    "Ticket": true,
    "TicketPlan": true,
    "TicketPreset": true,
    "VerificationCode": true,
    "Venue": true,
    "VenueAttribute": true,
    "VenueCharge": true,
    "Category": true,
    "ServerError": true,
    "AccessLog": true,
    "ObjectTime": true,
    "ObjectCache": true,
    "Tag": true,
    "Notification": true,
    "CityDistrict": true,
    "BusinessContacts": true,
    "ErrorDescription": true,

    "User": true,
    "UserInfo": true,
    "UserExtra": true,
    "UserEasemob": true,
    "UserRelation": true,
    "UserDevice": true,
    "UserTimeline": true,
    "UserFavorite": true,
    "UserEvaluation": true,
    "UserInviteLog": true,

    "Channel": true,
    "ChannelMember": true,
    "Comment": true,
    "Messages": true,
    "Post": true,
    "PostLike": true,
    "Group": true,
    "GroupMember": true,

    // Coach Model
    "CoachCourse": true,
    "CoachCourseTrainee": true,
    "CoachCourseDetail": true,
    "CoachInfo": true,
    "CoachOrder": true,
    "CoachOrderDetail": true,
    "CoachPrice": true,
    "CoachSchedule": true,
    "CoachServiceTime": true,
    "CoachShowCase": true,
    "CustomLocation": true,
    "TrainCase": true,
    "TrainTarget": true,

    // workflow
    "OrderWorkflow": true,
    "OrderWorkflowDetail": true,
    "OrderWorkflowTask": true,
    "OrderWorkflowTaskEntry": true,
    "OrderStatusDefine": true
  }
}
